* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}
/* COMMON */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 18px 16px;
    min-width: 98px;
    background-color: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
}
.btn:hover {
    opacity: 0.9;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* ====================HEADER================== */
.header {
    height: 100vh;
    background-color: #e6f0ff;
    position: relative;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}
.navbar ul {
    display: flex;
    margin-left: 50px;
}
.navbar ul a {
    padding: 8px 14px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.navbar .action {
    margin-left: auto;
}
.navbar .action .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}
.navbar .action .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}
/* HERO */
.hero {
    margin-top: 130px;
    width: 51%;
}
.hero .sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}
.hero .title {
    margin-top: 8px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19;
    font-style: bold;
    color: #000336;
}
.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}
.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}
.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}
/* ====================CLIENT================== */
.client {
    margin-top: 79px;
    padding: 43px 0 66px;
}
.client .row {
    display: flex;
    justify-content: space-between;
}
.client .row .desc {
    font-size: 1.6rem;
    font-weight: 500px;
    line-height: 1.25;
    color: #7d8589;
}
.client .row-desc {
    margin-top: 23px;
}
.client .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.client .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}
.client .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
/* ====================GUIDES================== */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}
.guides .sub-title {
    position: relative;
    font-weight: 600px;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}
.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background-color: #000339;
}
.guides .desc {
    margin: 20px auto 0;
    width: 459px;
    max-width: 100%;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}
/* GUIDE ICON */
.list-guide {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}
.guide-item {
    margin: 0 70px;
    text-align: center;
}
.guide-item .title {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    color: #3b3c45;
}
.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
    color: #0689ff;
}
.guide-item .arrow {
    margin-left: 6px;
}
.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.guide-btn {
    min-width: 170px;
}
/* ====================FEATURED=================== */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background-color: #f5fafe;
}
.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}
.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.featured .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}
.featured .link .arrow {
    margin-left: 8px;
}
.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}
.featured .item {
    background-color: #fff;
    flex: 1;
    border-radius: 12px;
}
.featured .item .thumb {
    max-height: 227px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.featured .item .body {
    padding: 17px 20px 24px;
}
.featured .item .body .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}
.featured .item .body .desc {
    --line-clamp: 3;
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    word-break: break-all;
}
.featured .item .body .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.featured .item .body .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
}
.featured .item .body .icon {
    margin-left: 23px;
}
.featured .item .body .icon:first-child {
    margin-left: 0;
}
/* ================ STATS ===============*/
.stats {
    margin-top: 75px;
    padding: 50px 0 50px;
}
.stats .content {
    width: 1048px;
}
.stats .row {
    display: flex;
}
.stats .img-block,
.stats .info {
    width: 50%;
}
.stats .img-block {
    position: relative;
}
.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0 0 12px 12px;
    background-color: #fff;
}
.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}
.stats-trend .icon {
    margin-left: auto;
}
.stats-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}
.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}
.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}
/*============= AVATAR - BLOCK ========= */
.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    gap: 16px 14px;
    flex-flow: wrap;
}
.stats .avatar-group {
    display: flex;
}
.stats .avatar-group .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 400;
    color: #ffffff;
    background-color: var(--bg-color, #fff);
    letter-spacing: -0.02em;
}
.stats .avatar-group .avatar:first-child {
    margin-left: 0px;
}
.stats .info {
    padding-top: 79px;
    padding-left: 165px;
}
.stats .info .sub-title {
    position: relative;
    max-width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}
.stats .info .sub-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}
.stats .info .desc {
    max-width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}
/* ======== quantity ========= */
.stats .quantity {
    margin-top: 110px;
    justify-content: space-between;
    padding: 0 32px;
}
.stats .qty-item .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000;
}
.stats .qty-item .qty-desc {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
}
/* ================= SUBSCRIPTION ================= */
.subscription {
    margin-top: 90px;
}
.subscription .body {
    position: relative;
    height: 370px;
    display: flex;
    align-items: center;
    background: #063183;
    border-radius: 20px;
}
.subscription .info {
    width: 670px;
    max-width: 100%;
    padding: 0 80px;
}
.subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}
.subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #fff;
    opacity: 0.75;
}
.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background-color: #fff;
    color: #002366;
}
.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}
/* ========= FOOTER =========== */
/* ROW TOP */
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}
.footer .row {
    display: flex;
}
.footer .row-top {
    gap: 185px;
}
.footer .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}
.footer .list,
.footer .desc {
    margin-top: 42px;
}
.footer .list .item {
    margin-top: 18px;
}
.footer .list .item a,
.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
    white-space: nowrap;
}
.footer .desc {
    white-space: normal;
    line-height: 1.75;
}
.footer .social {
    display: flex;
    margin-top: 40px;
}
.footer .social .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background-color: #f9f9f9;
}
.footer .social .social-link:hover {
    background-color: #e8e1e1;
}
.footer .social .social-link:first-child {
    margin-left: 0;
}
/* ROW BOTTOM */
.footer .row-bottom {
    margin-top: 81px;
    align-items: center;
    justify-content: space-between;
}
.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}
